{% extends 'app1/master.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block container %}
<!-- end menu-dropdown -->
<body>
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="section-title" style="margin-top:40px;">
            <h3 style=" word-spacing: 40px; font-size:16px; padding-bottom: 0px; margin-bottom:0px;"><a href="#">GREEN-LIVING</a><a
                    href="#"> PLANT-CARE</a><a href="#"> PORCH+PATIO-PLANT-CARE</a></h3>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l1.jpg' %}" height="300px" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE </h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Lend Your Struggling
                                Houseplants A Helping Hand With Fertilizer</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l2.jpg' %}" height="300px" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">GREEN LIVING</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Invite Spring Into
                                Your Space With These Must-Have Houseplants</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l3.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">GREEN LIVING</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">10 Tropical Plants
                                That Will Make Every Day Feel Like a Staycation</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l4.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">The Ultimate
                                Guide</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">To Spring</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Plant Care</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l5.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE </h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">7 Of The Easiest
                                Houseplants To Grow In Any Space</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l6.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">GREEN LIVING </h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">6 Ferns For Every
                                Room In Your Home</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l7.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE </h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Indoor Plant Lighting
                                101 For Healthy, Thriving Plants</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l8.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE </h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Help! Am I
                                Overwatering Or Underwatering My Plant?</h6></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l1.jpg' %}" height="300px" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE </h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Lend Your Struggling
                                Houseplants A Helping Hand With Fertilizer</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l2.jpg' %}" height="300px" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">GREEN LIVING</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Invite Spring Into
                                Your Space With These Must-Have Houseplants</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l3.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">GREEN LIVING</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">10 Tropical Plants
                                That Will Make Every Day Feel Like a Staycation</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l4.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">The Ultimate
                                Guide</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">To Spring</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Plant Care</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l1.jpg' %}" height="300px" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE </h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Lend Your Struggling
                                Houseplants A Helping Hand With Fertilizer</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l2.jpg' %}" height="300px" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">GREEN LIVING</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Invite Spring Into
                                Your Space With These Must-Have Houseplants</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l3.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">GREEN LIVING</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">10 Tropical Plants
                                That Will Make Every Day Feel Like a Staycation</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l4.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">The Ultimate
                                Guide</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">To Spring</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Plant Care</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l1.jpg' %}" height="300px" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE </h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Lend Your Struggling
                                Houseplants A Helping Hand With Fertilizer</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l2.jpg' %}" height="300px" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">GREEN LIVING</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Invite Spring Into
                                Your Space With These Must-Have Houseplants</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l3.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">GREEN LIVING</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">10 Tropical Plants
                                That Will Make Every Day Feel Like a Staycation</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 portfolio-item filter-cricket">
                <div class="portfolio-details">
                    <img src="{% static 'img/l4.jpg' %}" height="300" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="portfolio-details.html">
                            <h6 style="text-align:center; font-size: 12px;opacity:1; color:black ">PLANT CARE</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">The Ultimate
                                Guide</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">To Spring</h6>
                            <h6 style="text-align:center; font-size: 20px;opacity:1; color:black ">Plant Care</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Portfolio Section -->

</body>
{% endblock %}
