<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloomFlow</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <!--  <link rel="stylesheet" href="{% static '/css/style.css' %}">-->
    <link rel="stylesheet" href="{% static '/css/style_index_final.css' %}">
    <link rel="stylesheet" href="{% static '/css/groups.css' %}">

    <!--     <link rel="stylesheet" href="{% static 'css/profile_final.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'css/activity.css' %}">-->
</head>
{% block head %}

{% endblock %}


<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1 class="text-light"><a href="/app1/index"><span>BloomFlow</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <!--        <li><a class="nav-link scrollto active" href="/app1/index">Home</a></li>-->
                <li class="dropdown"><a href="/app1/plants"><span>Plants</span></a>
                    <ul>

                        <!--                            {% for i in sc %}-->
                        <!--                            <li><a href="{% url 'detail' i.id %}">-->
                        <!--                               {{i.category}}</a></li>-->
                        <!--                            {% endfor %}-->
                        <li><a href="/app1/plants">INDOOR PLANTS</a></li>
                        <li><a href="/community/member">New Arrivals</a></li>
                        <li><a href="/community/group">End of Season Sale</a></li>
                        <li><a href="/community/group">Low-Maintenance Plants</a></li>
                        <li><a href="/community/group">Low Light Houseplants</a></li>
                        <li><a href="/community/group">Large + XL Plants</a></li>
                        <li><a href="/community/group">Last Chance Sale</a></li>
                        <li><a href="/community/group">Shop All</a></li>
                    </ul>
                </li>
                <li class="dropdown" style="padding-left:0.5em"><a href="/app1/caretools"><span>Care Tools</span> <i
                        class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/app1/caretools_product">CARE TOOLS</a></li>
                        <li><a href="/community/activity">Pots</a></li>
                        <li><a href="/community/member">Tools</a></li>
                        <li><a href="/community/group">Supplies</a></li>
                        <li><a href="/community/group">Decor + Accessories</a></li>
                        <li><a href="/community/group">Last Chance Sale</a></li>
                        <li><a href="/community/group">Shop All</a></li>
                    </ul>


                </li>
                <li class="dropdown" style="padding-left:0.5em"><a href="/app1/gifts"><span>Gifts</span> <i
                        class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/app1/gifts_product">THE GIFT SHOP</a></li>
                        <li><a href="/community/member">Gifts Under 499/-</a></li>
                        <li><a href="/community/group">Gifts Between 499/- to 999/-</a></li>
                        <li><a href="/community/group">Gifts Over 1499/-</a></li>
                        <li><a href="/community/group">Plant Care Gift Sets</a></li>
                        <li><a href="/community/group">E-GIFT CARDS</a></li>
                    </ul>
                </li>
                <li class="dropdown" style="padding-left:0.5em"><a href="/app1/learn"><span>Learn</span> <i
                        class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/app1/learn">A-Z CARE GUIDES</a></li>
                        <li><a href="/community/member">INDOOR PLANT CARE</a></li>
                        <li><a href="/community/group">GREEN LIVING</a></li>
                        <li><a href="/community/group">WINTER PLANT CARE</a></li>
                    </ul>
                </li>

                <form action="{% url 'search' %}" class="header_search_form clearfix">
                    <li style="padding-left:1em">
                        <!--                        <input class="getstarted signUp scrollto" value="{{ request.GET.si }}" type="text" name="si" />-->
                        <!--                        <input class="getstarted signUp scrollto" type="submit" value="Search" />-->
                        <input name="si" type="search"  required="required" class="header_search_input" placeholder="Search for products..."/>
                        <button type="submit" class="header_search_button trans_300" value="Submit">search</button>
                    </li>
                </form>
                <li ><a class="getstarted signUp scrollto" href="/app1/cart/"> <i class="bi bi-cart"></i></a></li>

                {% if user.is_authenticated %}


                <li ><a class="getstarted signUp scrollto" href="/app1/profile/"><ion-icon name="person-outline"></ion-icon></a>
                </li>
                <li><a class="getstarted signUp scrollto" href="/app1/logout"><ion-icon name="log-out-outline"></ion-icon></a></li>
                {% else %}
                <li><a class="getstarted signUp scrollto" href="/app1/login">Log In</a></li>
                <li><a class="getstarted logIn scrollto" href="/app1/signup">Sign Up</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

{% block container %}
{% endblock %}


<!-- ======= Footer ======= -->
<footer id="footer" style="padding-top: 5rem;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>BloomFlow</h3>
                    <p>
                        Ahmedabad, Gujarat, India <br><br>
                        <strong>Phone:</strong> +91 95452 45150<br>
                        <strong>Email:</strong> info@bloomflow.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>COMPANY</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/app1/about_us">About</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/app1/about">Working at Bloomflow</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/app1/communities">Careers</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/app1/communities">Press</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/app1/communities">Corporate Orders</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/app1/communities">Refer a Friend</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/app1/communities">Our Guarantee</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>SUPPORT</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/community/activity">Help + FAQs</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/community/activity">Track Your Order</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/community/activity">Shipping</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Returns</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/app1/contact_us">Contact Support</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>PLANT QUESTIONS?</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/community/activity">Plant Care Tips</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/community/activity">Plant Life Blog</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/community/activity">Contact the Grow-How™
                            Team</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/community/activity">Plant Care App(future
                            extension)</a></li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Bloomflow</span></strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="{% static '/js/app.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>